body {
    background-color: grey;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 4em;
}

#players {
    font-size: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
    padding-bottom: 10px;
}

#aiCheckLabel {
    font-size: .8em;
}

#aiCheck {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

input {
    background-color: #c5c0c0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.35em;
}

input[type=text] {
    font-size: .5em;
}

.buttons {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000;
    margin: 0 0.2em 0.2em 0;
    border-radius:0.35em;
    box-sizing: border-box;
    font-weight:500;
    color:#000000;
    background-color:#c5c0c0;
    text-align:center;
    transition: all 0.15s;
}

.buttons:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
    background-color: rgb(68, 196, 68);
    font-size: larger;
}

.buttonBox {
    height: 30px;
}

.turns {
    font-size: .75em;
    color: rgb(68, 196, 68);
}

#gameboard {
    padding-top: 30px;
    padding-bottom: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: auto;
   
}

.board {
    color: white;
    border-color: rgb(68, 196, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    border-style: solid;
}

.board:hover{
    cursor: pointer;
}

#board0{
    border-width: 0px .5rem .5rem 0px;
}

#board1{  
    border-width: 0px .5rem .5rem .5rem;
}
#board2{
   border-width: 0px 0px .5rem .5rem;
}

#board3{
    border-width: .5rem .5rem .5rem 0px;
}

#board4{   
    border-width: .5rem .5rem .5rem .5rem;
}

#board5{   
    border-width: .5rem 0px .5rem .5rem;
}

#board6{   
    border-width: .5rem .5rem 0px 0px;
}

#board7{   
    border-width: .5rem .5rem 0px .5rem;
}

#board8{   
    border-width: .5rem 0px 0px .5rem;
}

#superBoard {
    padding-top: 30px;
    padding-bottom: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    height: 400px;
    width: 400px;
    margin: auto;
   
}

#super0 {
    border-width: 0px .5rem .5rem 0px;
}

#super1 {
    border-width: 0px .5rem .5rem 0px;
}

#super2 {
    border-width: 0px .5rem .5rem 0px;
}

#super3 {
    border-width: 0px .0px .5rem 0px;
}

#super4 {
    border-width: 0px .5rem .5rem 0px;
}

#super5 {
    border-width: 0px .5rem .5rem 0px;
}

#super6 {
    border-width: 0px .5rem .5rem 0px;
}

#super7 {
    border-width: 0px 0px .5rem 0px;
}

#super8 {
    border-width: 0px .5rem .5rem 0px;
}

#super9 {
    border-width: 0px .5rem .5rem 0px;
}

#super10 {
    border-width: 0px .5rem .5rem 0px;
}

#super11 {
    border-width: 0px 0px .5rem 0px;
}

#super12 {
    border-width: 0px .5rem 0px 0px;
}

#super13 {
    border-width: 0px .5rem 0px 0px;
}

#super14 {
    border-width: 0px .5rem 0px 0px;
}

#super15 {
    border-width: 0px 0px 0px 0px;
}

#superWins {
    font-size: 2em;
}

img {
    max-width: 800px;
    height: auto;
}